version: '3.8'

services:
  backend:
    build:
      context: .
      target: test
    
    container_name: topshelf-backend
    ports: 
        - "3000:3000"
    env_file:
        - .env
    restart: unless-stopped

